.carritoContainer {
    background-color: var(--gray);
    position: fixed;
    z-index: 10;
    top: 8rem;
    right: 4rem;
    width: 40rem;
    height: 50rem;
    padding: 2rem;
    border-radius: 1rem;
}
.carritoContainer::before {
    
}